@model List<Game>

@{
    ViewData["Title"] = "Home";
    Game gm = new Game();
}

<div id="overlay" class="overlay display-none">
    <div class="card overlay-card">
        <div class="overlay-card-head">
            <h4 class="card-title">Are you sure you want to delete this?</h4>
        </div>
        <div class="overlay-card-body">
            <p class="mg-bottom-25px">Spider Man Miles Morales</p>
        </div>
        <div class="overlay-card-footer">
            <div>
                <button id="deleteBtn" type="submit" class="btn btn-danger2 btn-block btn-left">Delete</button>
            </div><div>
                <button id="cancelBtn" type="button" class="btn btn-grey btn-block btn-right">Cancel</button>
            </div>
        </div>
    </div>
</div>

<section class="categories">
    <aside>
        <nav>
            <ul class="flex container">
                <a href="#">Games</a>
                <a href="#">Sales</a>
                <a href="#">Shippings</a>
            </ul>
        </nav>
    </aside>
</section>
<section class="container main-panel">
    @if (TempData.ContainsKey("MSG_S"))
    {
        <div class="msg-success">@TempData["MSG_S"].ToString()</div>
    }

    <h2 class="mg-top-25px">
        @ViewData["Title"].ToString()
    </h2>

    <a asp-area="Seller" asp-controller="Game" asp-action="Register" class="btn btn-primary mg-top-25px">Register</a>

    @if (Model.Count > 0)
    {
        <div class="table-container mg-top-25px">
            <table class="table" frame="void" rules="rows">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(g => gm.Id)</th>
                        <th>@Html.DisplayNameFor(g => gm.Name)</th>
                        <th>@Html.DisplayNameFor(g => gm.Platform)</th>
                        <th>@Html.DisplayNameFor(g => gm.Price)</th>
                        <th>@Html.DisplayNameFor(g => gm.StockQuantity)</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var game in Model)
                    {
                        <tr>
                            <td data-th="@Html.DisplayNameFor(g => game.Id): &nbsp;">@Html.DisplayFor(p => game.Id)</td>
                            <td data-th="@Html.DisplayNameFor(g => game.Platform): &nbsp;">@Html.DisplayFor(p => game.Name)</td>
                            <td data-th="@Html.DisplayNameFor(g => game.Platform): &nbsp;">@Html.DisplayFor(p => game.Platform.Name)</td>
                            <td data-th="@Html.DisplayNameFor(g => game.Price): &nbsp;">@Html.DisplayFor(p => game.Price)</td>
                            <td data-th="@Html.DisplayNameFor(g => game.StockQuantity): &nbsp;">@Html.DisplayFor(p => game.StockQuantity)</td>
                            <td data-th="Options: &nbsp;">
                                <a class="btn btn-" asp-controller="Game" asp-action="Edit" asp-route-id="@game.Id">Edit</a>
                                <a class="btn deleteLink" asp-controller="Game" asp-action="Delete" asp-route-id="@game.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <h4 class="mg-top-25px">You don't have any game on sales yet</h4>
    }

</section>

<script src="~/js/deletePopUp.js"></script>